
body {
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;  
  }

.pai{
  display: flex;
  width: 100%;
  max-width: 100rvw;
  min-width: 100rvw;
  justify-content: center;
}
  .sid{
    width: 20%;
    max-width: 15vw;

  }
  .sidebar {
    background-color: #222;
    color: #fff;
    width: 20%;
    max-width: 15vw;
    padding: 2%;
    height: 100vh;
    background-color: #222222;
    background-image: linear-gradient(25deg, #222222 69%, #c600bf 100%);
    position: fixed;

  }
  
  .sidebar img {
    border-radius: 50%;
    width: 70%;
    height: 16%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
  
  .sidebar h1 {
    text-align: center;
    margin-bottom: 10%;
  }
  
  .sidebar nav {
    margin-bottom: 10%;
  }
  
  .sidebar nav a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .sidebar nav a:hover {
    background-color: #333;
  }
  
  .sidebar button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .sidebar button:hover {
    background-color: #e64a19;
  }
  
  .sidebar .social-media {
    text-align: center;
  }
  
  .sidebar .social-media a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .sidebar .social-media a:hover {
    color: #ff5722;
  }
  
  main {
    flex-direction: column;
    width: 100%;
    max-width: 85vw;
    background-color: #6b6969;
    background-image: linear-gradient(25deg, #6b6969 3%, #000000 57%);
            
  }

.hero {
  background-image: url('imgs/Linguagens-de-programacao-quais-as-melhores-empresas-usam-.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .hero-text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  
  .hero-image {
    display: none;
  }
  .btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  *, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.sobre-mim{
  color: #ffffff;
  font-size: 30px;

}

section .services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  
}

section .service {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  background-color: #2d2d2d;
  background-image: linear-gradient(22deg, #2d2d2d 14%, #000000 47%);
  
  

  backdrop-filter: blur(0px) saturate(0%);
  -webkit-backdrop-filter: blur(0px) saturate(0%);
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  
  
}

section h2{
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

section .service h3 {
  margin-bottom: 10px;
  color: #fffafa;
}

#portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem; 
}

section .project {
  max-width: 15rem;
  min-width: 15rem;
  width: 100%;
  max-height: 25rem;
  min-height: 25rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #5a5a5a;
  text-align: left;
  flex-direction: column-reverse;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 0; /* Removendo o margin-bottom para usar o gap da grid */
}

section .project:hover img {
  transform: scale(1.1);
  filter: grayscale(50%) blur(5px);
  transition: all 0.3s ease;
}

section .project:hover h3,
section .project:hover a {
  opacity: 1;
  transition: all 0.3s ease;
}

section .project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  transition: all 0.3s ease;
}

section .project h3 {
  color: white;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: none;
  display: flex;
  bottom: 0;
  font-weight: 100;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
  margin-bottom: 10rem;
}

section .project a {
  color: yellow;
  text-decoration: none;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  opacity: 0;
  transition: all 0.3s ease;
  margin-bottom: 8rem;
}




section .testimonials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section .testimonial {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

section .testimonial p {
  margin-bottom: 10px;
}

section .testimonial h4 {
  margin-bottom: 0;
}

section form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section form label {
  margin-bottom: 5px;
}

section form input,
section form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

section form button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

section form button:hover {
  background-color: #e64a19;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Caio img{
  border-radius: 50%;
  width: 20%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.git{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

.marcos{
  border-radius: 50%;
  width: 20%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}